@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Banking</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

@foreach (var account in Model.Accounts){
    <table style="width:50%">
    <tr>
        <td>Number: @account.number</td>
        <td>Owner: @account.owner</td> 
        <td>Balance: @account.balance</td>
        <td>Label: @account.label</td>
    </tr>
    </table>
    }